~*
application/config/
application/cache/
application/logs/
usual/config/
usual/cache
usual/logs
modules/auth
modules/cache
modules/codebench
modules/database
modules/image
modules/orm
modules/unittest
modules/userguide
modules/scheduler
modules/timetable
system
!.gitignore
